/*Global*/
.section-title {
    font-size: 50px;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 50px 0 0 0;
}
body {
    margin: 0;
}
/*Navbar*/
ul {
    margin: 10px 30px;
    padding: 0;
    list-style-type: none;
}
li {
    display: inline-block;
    padding: 10px;
    font-family: 'Source Sans Pro', sans-serif;
}
a {
    text-align: center;
    text-decoration: none;
    color: white; 
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 20px;
}
.image {
    background: url(https://i.postimg.cc/wvzf4rfW/pexels-andrea-piacquadio-3779629.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 80vh;
    padding-bottom: 20px;
}
.logo {
    color: #fbc531;
    font-family: 'Playfair Display', serif;
    margin: 10px 30px;
    padding: 0;
}
.btn {
    display: block;
    margin: 0 auto;
    width: 200px;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #fbc531;
    border-radius: 5px;
}
.page-title {
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    text-align: center;
}
.page-subtitle {
    color: white;
    font-size: 90px;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 10px;
    text-align: center;
}
.main-title {
    margin: 0;
    text-align: center;
}
.main-title p {
    margin: 0;
    padding-bottom: 20px;
    font-family: 'Playfair Display', serif;
}
/*SERVICES*/
.service-tile i {
    color:  #fbc531;
    font-size: 30px;
    border-radius: 60px;
    box-shadow: 0 0 5px #fbc531;
    padding: 0.6em 0.6em;  
}
.service-tile {
    text-align: center;
}
.service-title {
    font-family: 'Source Sans Pro', sans-serif;
}
/*Portfolio*/
.portfolio {
    background-color: #dcdde1;
}
.field-image {
    background: white;
    text-align: center;
}
.field-image img {
  object-fit: cover;
  max-width: 100%;
}
.field-image p {
    font-family: 'Playfair Display', serif;
    display: inline-block;
    margin-top: 0;
}
.field-image h2 {
    margin-top: 15px;
    margin-bottom: 0;
}
.wrapper {
    padding: 10px;
}
/*Footer*/
.copyright {
    font-family: 'Source Sans Pro', sans-serif;
}
.social-icon {
    font-size: 0;
    margin: 5px;   
    padding: 5px;
    display: inline-block;
}
.social-icon i {
    font-size: 20px;
    color:white;
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 50%;
    padding: 10px;
}
/*Media queries*/

@media (max-width: 767px) {
    .page-subtitle {
        font-size: 60px;
    }
    .page-title {
        font-size: 30px;
    }
}
